In [1]:
import psycopg2

In [3]:
try:
    connection = psycopg2.connect("dbname=udacity")
except psycopg2.Error as e:
    print (e)

try:
    cur = connection.cursor()
except Exception as e:
    print (e)

connection.set_session(autocommit=True)

In [4]:
qeury = "create table if not exists music_library (album_id int, album_name varchar, \
        artist_name varchar, year int, songs text[]);"

try:
    cur.execute("create table if not exists music_library (album_id int, album_name varchar, \
        artist_name varchar, year int, songs text[]);")
except Exception as e:
    print("Error: Couldn't create table")
    print (e)
    
query = "insert into music_library (album_id, album_name, artist_name, year, songs)"
query = query + "values (%s, %s, %s, %s, %s)"

try:
    cur.execute(query,  (1,"Rubber Soul","The Beatles", 1965, ["Michelle", "Think For Yourself", "In My Life"]))
except psycopg2.Error as e:
    print("Error: Couldn't Insert into Table")
    print (e)

try:
    cur.execute(query, (2,"Let It Be","The Beatles", 1970, ["Let It Be", "Across The Universe"]))
except psycopg2.Error as e:
    print (e)
    
try:
    cur.execute("select * from music_library")
except psycopg2.Error as e:
    print (e)
row = cur.fetchone()
while row:
    print (row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, ['Michelle', 'Think For Yourself', 'In My Life'])
(2, 'Let It Be', 'The Beatles', 1970, ['Let It Be', 'Across The Universe'])
(1, 'Rubber Soul', 'The Beatles', 1965, ['Michelle', 'Think For Yourself', 'In My Life'])
(2, 'Let It Be', 'The Beatles', 1970, ['Let It Be', 'Across The Universe'])